.stegog-owned {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  background-image: url('g99.png');
  background-size: contain;
  z-index: 999;
}
