.stegog-owned {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  background-size: contain;
  z-index: 999;
}

.stegog-modal {
  position: fixed;
  top: 100px;;
  left: 0;
  background: white;
  z-index: 10000;
}
